*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}
.blue{
    background-color: #2d98da;
    color:white;
    display: flex;
    padding: 5px;
   
}
.icon{
    color: white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 400px;
    padding-top:5px;
    
}
/* .left_blue{
    display: flex;
    margin-left: 700px;
} */
.blue a{
    color: white;
    margin-left: 200px;
    padding-bottom: 10px;
    padding-top: 2px;
}
.para{
    padding-right:50px;
    margin-left: 10px;
    padding-top: 2px;
}
.nav_flex{
    display: flex;
}
.logo{
    display: flex;
}
.soffets{
   font-size: 30px;
   font-weight: bold; 
}
.best{
    font-size: 12px;
    color: gray;
}
.logo{
    margin-left: 199px;
}
.apple{
    margin-right: 15px;
}
.nav_flex li{
    list-style: none;
    margin-top: 20px;
}
.nav_flex li a{
    text-decoration: none;
    margin-left: 52px;
    color: black;
    font-weight: bold;
}
.nav_flex a:hover{
    color: #2d98da;

}
.nav_bar{
    display: flex;
    padding-top:20px;

}
.nav_flex{
    margin-left: 122px;
}
.slanted{
    height: 899px;
    width: 106vw;
   
    clip-path: polygon(0 0,100% 0, 100% 24%,0 100% );
}
.what{
    text-align: center;
    color:#2d98da;
    font-weight: bold;
}
.our{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
}
.card{
    background:#f3f3f5;
    /* border: medium none; */
    padding: 20px !important;
    transition: 0.3s;
    margin-top: 80px;
    text-align: center;
    width: 200px;
    height: 200px;
    margin-left: 30px;
    border-radius: 12px;
}
.card:hover{
    transform: translateY(20px);  
    background-color: aliceblue;
    box-shadow: 0 0 20px 0 gray;
}
.row1{
    display: flex;
    margin-left: 230px;
}
.row2{
    display: flex;
    margin-left: 230px;
    margin-top: -50px;
}
.card_icon{
    color:black;
}
.card_icon img{
    width:60px;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.card a{
    text-decoration: none;
    color:#2d98da ;
}
.do{
    text-align: center;
    font-weight: bold;
    color:#2d98da;
}
.video{
    background-color:#192a56 ;
    padding-top: 90px;
    margin-top: 150px;
}
.intro{
    color:white;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
}
.play_circle{
    color:#2d98da;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 80px;
}
.nested_card_flex{
    display: flex;
    margin-left: 290px;

}
.pro{
    text-align: center;
    padding: 100px;
    color:#2d98da;
}
.start{
    text-align: center;
    padding-bottom: 100px;
    margin-top: -68px;
    font-size: 47px;
    font-weight: bold;
}
.inner_card{
    width: 96px;
    height: 65px;
    padding-left: 19px;
    padding-top: 15px;
    color: #2d98da;
    border-radius: 8px;
    background-color: white;
}
.nested_card_flex{
    display: flex;
    margin-left: 251px;
    margin-top: -35px;
}
.nested_card{
    display: flex;
    margin-left: 30px;
    width: 207px;
    height: 8px;
    background-color: #f5f6fa;
    padding: 7px;
    padding-bottom: 72px;
    border-radius: 6px;
}
.inner_card:hover{
    background-color:#2d98da ;
    color:white;
   
}
.text{
    margin-left: 20px;
    font-size: 17px;
}
.top_text{
    margin-top: 10px;
    font-size: 13px;
    color:gray;
}
.arrow{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 30px;
    color:#2d98da;
}