*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}

@import url('https://fonts.googleapis.com/css2?family=Comforter&family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Pacifico&family=Roboto:ital,wght@0,400;0,500;1,100&family=Signika+Negative:wght@300&family=Ubuntu&display=swap');.blue{
    background-color: #2d98da;
    color:white;
    display: flex;
    justify-content: center;
   
}
.icon{
    color: white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 400px;
    padding-top:5px;
    
}

.blue a{
    color: white;
    margin-left: 200px;
    padding-bottom: 10px;
    padding-top: 2px;
}
.para_top{
    padding-right:50px;
    margin-left: 10px;
    padding-top: 2px;
}
/* .nav_flex{
    margin-left: 478px;
    margin-right: -38px;
    display: flex;
} */
.logo{
    display: flex;
    margin-left: -22px;
    width:20px;
}
.logo_flex{
    display: flex;
    margin-left: -31px;
    margin-right: -84px;
    padding-left: 45px;
}
.logo_img img{
    margin-left: 120px;
    width: 50px;
    height: 61px;
}

.soffets{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    margin-left: 12px;

   

}
.logo_name{
    width: 10px;
}
.best{
    font-size: 12px;
    color: gray;
    font-family: 'Roboto', sans-serif;
    margin-right: -299px;
    margin-top: 40px;
    margin-left: -80px;
}
/* .best_div{
    width:100px;
    font-size: 12px;
    color: gray;
    font-family: 'Roboto', sans-serif;
    margin-left: -310px;
} */
.logo{
    margin-left: 88px;
}
.logo_name{
    margin-left: 49px;
}

.nav_flex li{
    list-style: none;
    margin-top: 20px;
}
.nav_flex li a{
    text-decoration: none;
    margin-left: 52px;
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.nav_flex a:hover{
    color: #2d98da;

}
.nav_bar{
    display: flex;
    justify-content: center;

}
.nav_flex{
    margin-left: 478px;
    margin-right: -17px;
    display: flex;

}
.slanted img{
    height: 829px;
    width: 100vw;
    margin-top: 10px;
    z-index: -1;
    position: relative;
   
    clip-path: polygon( 0 0, 100% 0 ,100% 86%,50% 100% ,0 86%);
}
.software{
    font-size: 63px;
    font-weight: bolder;
    z-index:1;
    position:absolute;
    margin-top: 86px;
    margin-left: 280px;
    color: black;
    font-family: 'Roboto', sans-serif;
    
}
.keep{
    z-index: 1;
    position: absolute;
    color:black;
    font-weight: bold;
    margin-top: 338px;
    margin-left: 281px;

}
.read_more{
    display: flex;
}
.button_slant{
    display: flex;
    z-index: 1;
    position: absolute;
    margin-top: 27px;
}
.btn_slanted{
    width: 188px;
    height: 60px;
    background-color: #2d98da;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: -450px;
    margin-left: 282px;
    z-index: 1;
    position: absolute;
    font-size: 15px;

}
.double_arrow{
    margin-top: -437px;
    margin-left: 412px;
    z-index: 1;
    position: absolute;
    color: white;
    width: 41px;
    height: 37px;
    background: skyblue;
    padding-bottom: -70px;
    padding-left: 12px;
    border-radius: 7px;
    padding-top: 10px;

}
.dashed{
    margin-top: 12px;
}
.text_read_more {
    color: #2d98da;
    font-size: 12px;
    margin-left: 56px;
}
.read_more_icon {
    color: #2d98da;
    margin-left: 9px;
    margin-top: 3px;
    font-size: 10px;
}
.read_more {
    display: flex;
    margin-top: 13px;
}
.right_pic{
    display: flex;
    margin-left: 668px;
    margin-top: -80px;
}
.right_1{
    margin-right: 47px;
}

.right_2{
    padding-right: -60px;
}
.our_services{
    margin-left: -60px;}
.what{
    text-align: center;
    color:#2d98da;
    font-weight: bold;
}
.our{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
}
.card{
    background:#f3f3f5;
    /* border: medium none; */
    padding: 20px !important;
    transition: 0.3s;
    margin-top: 80px;
    text-align: center;
    width: 231px;
    height: 221px;
    margin-left: 30px;
    border-radius: 12px;
}
.card:hover{
    transform: translateY(20px);  
    background-color: aliceblue;
    box-shadow: 0 0 20px 0 gray;
}
.row1{
    display: flex;
    margin-left: 185px;

}
.row2{
    display: flex;
    margin-left: 185px;

    margin-top: -50px;
}
.card_icon{
    color:black;
}
.card_icon img{
    width:60px;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.card a{
    text-decoration: none;
    color:#2d98da ;
}
.do{
    text-align: center;
    font-weight: bold;
    color:#2d98da;
}
.video{
    background-color: #192a56;
    padding-top: 90px;
    margin-top: 150px;
    height: 394px;
}
@keyframes example {
    50% {box-shadow: 80px 20px 30px white;}
  }
  .play_circle{
    animation-name: example;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  }
 
  .play_circle {
    width: 10px;
    height: 10px;
    color: #2d98da;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 80px;
    margin-left: 684px;
}
.do::after{
    content:"--" ;
}
.do::before{
    content:"--" ;
}
.intro{
    color:white;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
}


.card_body{
    padding-top:56px;
}
.pro{
    text-align: center;
    padding: 100px;
    color:#2d98da;
}
.start{
    text-align: center;
    padding-bottom: 100px;
    margin-top: -68px;
    font-size: 47px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.inner_card{
    width: 96px;
    height: 65px;
    padding-left: 19px;
    padding-top: 15px;
    color: #2d98da;
    border-radius: 8px;
    background-color: white;
}
.nested_card_flex{
    display: flex;
   
    
    margin-left: 299px;
    margin-top: -35px;
}
.nested_card{
    display: flex;
    width: 215px;
    height: 8px;
    background-color: #f5f6fa;
    padding: 7px;
    padding-bottom: 72px;
    border-radius: 6px;
}
.inner_card:hover{
    
    background-color:#2d98da ;
    color:white;

}
.text{
    margin-left: 11px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}
.top_text{
    margin-top: 10px;
    font-size: 13px;
    color:gray;
    font-family: 'Roboto', sans-serif;
}
.arrow{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 30px;
    color:#2d98da;
}
.project_flex{
    display: flex;
    margin-left: 264px;
    padding-top: 53px;

    

}
.image1 img{
    width: 291px;
    height: 537px;
    margin-left: 313px;
    margin-top: -46px;
    z-index: 2;
    position: absolute;
    padding-top: 100px;
   
   
}
.image2 img{
    width: 291px;
    height: 537px;
    margin-left: 614px;
    margin-top: -46px;
    z-index: 2;
    position: absolute;
    padding-top: 100px;
}
   
.image3 img{
    width: 291px;
    height: 537px;
    margin-left: 8px;
    margin-top: -46px;
    z-index: 2;
    position: absolute;
    padding-top: 100px;
}
   
.case{
text-align: center;
padding-top: 105px;
font-weight: bold;
color:#2d98da ;
font-family: 'Roboto', sans-serif;
}
.latest_project{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
}
.project{
    background-color: #f5f6fa;
    margin-top:100px;
    height: 1100px;
    position:absolute;
    z-index: 1;
    width: 100vw;
}
.it_services{
    z-index: 3;
    position: absolute;
    margin-top: 362px;
    margin-left: 415px;
    font-size: 19px;
    font-weight: bold;
    color: #2d98da;
    font-family: 'Roboto', sans-serif;
    
}
.Powerfull{
    z-index: 3;
    position: absolute;
    margin-top: 412px;
    margin-left: 374px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
   .box{
       width:50px;
       height: 50px;
       background-color:#2d98da ;
       padding-left: 10px;
       padding-top: 10px;
       color:white;
       z-index: 3;
    position: absolute;
    margin-top: 80px;
    margin-left: 530px;
   } 
.counter{
    margin-top: 572px;
    display: flex;
    margin-left: 269px;
    background-color: #192a56;
    color: white;
    height: 161px;
    width: 899px;
    box-shadow: 9px 9px #2d98da;
}
.number{
    padding-top: 48px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.count_1{
    margin-left: 102px;
}
.text_counter{
    margin-top: 15px;
  margin-left: -6px;
}
.pipe{
    font-size: 50px;
    color: #e1b12c;
    margin-top: 60px;
    margin-left: 46px;
    margin-right: -51px;
}

.faq_flex{
    display: flex;
    margin-top: 1200px;
}
.Question_flex{
    display: flex;
}
.navy_blue{
    width: 245px;
    height: 696px;
    background-color: #192a56;
}
.white{
    margin-left: 59px;
    margin-top: -604px;
    width: 300px;
    height: 454px;
    background-color: white;
}
.sky_blue{
    margin-left: 92px;
    margin-top: -429px;
    width: 374px;
    height: 475px;
    background-color: rgb(45, 152, 218);
}
.sky_blue img{
    width: 360px;
    height: 460px;
    margin-left: 7px;
    margin-top: 7px;
}
.z-index{
    margin-top: 200px;
    margin-left: 266px;
}
.Question{
    margin-top: 200px;
    margin-left: 35px;
}
.faq{
    font-size: 54px;
    color: #192a56;
    font-weight: bold;
    margin-top: -58px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}
.faq_text1{
    font-size: 18px;
    margin-left: 23px;
    margin-top: 12px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.faq_text2{
    font-size: 18px;
    margin-left: 23px;
    margin-top: 12px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.para{
    color: gray;
    margin-top: -88px;
    padding-right: 50px;
    margin-left: 48px;
    padding-top: 2px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.Question_flex{
    height: 50px;
    width: 442px;
    background-color: #f1f2f6;
    margin-top: 28px;
}
.text1{
    margin-left: -20px;
    height: 900px;
}
.Question_flex1{
    height: 145px;
    width: 441px;
    background-color: #f1f2f6;
    margin-top: 28px;
    display: flex;
    margin-left: 23px;
}
.symbol{
    width: 31px;
    height: 34px;
    padding-left: 11px;
    background: white;
    padding-top: 8px;
    margin-left: 130px;
    margin-top: 8px;
}
.symbola{
    width: 31px;
    height: 34px;
    padding-left: 11px;
    background: white;
    padding-top: 8px;
    margin-left: 127px;
    margin-top: 8px;
}
.faq_bar{
    margin-top: 77px;
}
.header_faq{
    color: #2d98da;
    font-weight: bold;
}
.form_flex{
    display: flex;
    margin-left: 246px;
    margin-top: 50px;
    margin-left: 300px;
}
.form{
    background-color: #192a56;
    margin-top: -500px;
    height: 1100px;
    
}
input[type=text] {
    width: 400px;
    padding: 25px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    background-color:#192a56;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 11px;
    font-family: 'Roboto', sans-serif;
  }
  input[type=email] {
    width: 400px;
    padding: 25px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    background-color:#192a56;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 11px;
    font-family: 'Roboto', sans-serif;
  }
  input[type=phone] {
    width: 400px;
    padding: 25px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    background-color:#192a56;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 11px;
    font-family: 'Roboto', sans-serif;
  }
  textarea{
    margin-left: 320px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: #192a56;
    margin-top:20px ;
    color:white;
    /* font-size: 20px; */

  }
  input[type=submit] {
    color:white;
    font-size: 15px;
    font-weight: bold;
    padding: 24px 63px 19px 25px;
    background-color: #2d98da;
    border: none;
    border-radius: 10px;
    width: 175px;
    margin-left: 600px;
    margin-top: 80px;
    padding-right: 60px;
    font-family: 'Roboto', sans-serif;

  }
  .skyblue_button{
      display: flex;
      
  }
  .btn{
    background-color: #68b4e4;
    color: white;
    border: none;
    margin-left: -49px;
    width: 40px;
    height: 43px;
    margin-top: 88px;
    border-radius: 7px;
  }
  .request{
      color:#2d98da;
      text-align: center;
      padding-top: 150px;
  }
  .easily{
      font-size: 70px;
      font-weight: 20px;
      color: white;
      text-align: center;
      margin-top: 60px;
      font-family: 'Roboto', sans-serif;
  }
  .what::after{
    content:"--";
}
.what::before{
  content:"--";
}
  .pro::after{
    content:"--";
}
.pro::before{
  content:"--";
}
  .case::after{
    content:"--";
}
.case::before{
  content:"--";
}
  .header_faq::after{
      content:"--";
  }
  .header_faq::before{
    content:"--";
}
  .request::after{
      content: "--";
  }
  .request::before{
    content: "--";
}
  .tech1{
      text-align: center;
      color: #2d98da;
      padding-top: 200px;
  }
  .tech1::after{
      content:"--";
  }
  .tech1::before{
    content:"--";
}
  .test_right_main {
    margin-top: 262px;
    margin-left: 204px;
    position: relative;
    z-index: 1;
}
  .expert{
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      margin-top: 50px;
      font-family: 'Roboto', sans-serif;
  }
  .tech_symbols img{
    width: 60px;
    height: 60px;
    padding-top: 5px;
    margin-left: 5px;
      
  }
  .languages_flex1{
      display: flex;
      margin-left: 95px;
      margin-top: 30px;
  }
  .languages_flex2{
    display: flex;
    margin-left: 88px;
    margin-top: 30px;
}
.languages_flex3{
    display: flex;
    margin-left: 92px;
    margin-top: 30px;
}
  .tech_cards1{
     
    margin-left: 62px;
    border: 2px solid gray;
    padding: 20px;
  }
  .tech_cards1:hover{
      border: 2px solid #2d98da ;
  }
  
  .tech_cards2{
    margin-left: 70px;
    border: 2px solid gray;
    padding: 20px;
}
.tech_cards2:hover{
    border: 2px solid #2d98da;  
}
.tech_cards2r{
    margin-left: 49px;
    border: 2px solid gray;
    width: 105px;
    padding-left: 6px;
    padding-top: 18px;
}
.tech_cards2r:hover{
    border: 2px solid #2d98da;  
}
.techv {
    margin-left: 7px;
    margin-top: 8px;
}
.tech_cards3{
    margin-left: 66px;
    border: 2px solid gray;
    padding: 20px;
}
.tech_cards3:hover{
    border: 2px solid #2d98da;  
}
  .tech{
    margin-left: 12px;
    margin-top: 10px;
    
   
  }
  .tech3{
    margin-left: 4px;
    margin-top: 10px;
   

}
.tech_symbols1 img {
    width: 80px;
    height: 60px;
    margin-left: 3px;
    padding-top: 5px;
}
.techc{
    margin-left: 21px;
    margin-top: 13px;
}
.btn_3{
    color: white;
    font-weight: bold;
    background-color: black;
    border: none;
    border-radius: 20px;
    padding:10px;
    width:120px;
    margin-left: 650px;
    margin-top: 122px;
}
.tech_symbols1 img{
width:80px;
height: 60px;
margin-right: 40px;
}
.tech_an {
    margin-left: -2px;
    margin-top: 11px;
}
.tech_cards2d{
    margin-left: 62px;
    border: 2px solid gray;
    padding: 21px;

}
.tech_cards2d:hover{
    border: 2px solid #2d98da;
}
.star_flex{
    display:flex;
    margin-top: 40px;
    margin-left: 30px;
}
.test_flex{
    display: flex;
}
.monial{
    
    color:#2d98da;
    

    padding-top: 217px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.monial::before {
    content: "--";
    
  }
  .monial::after {
    content: "--";
    
  }
.test_monial{
    
    
    font-size: 47px;
    font-weight: bold;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
}
.web_developer{
    color:#2d98da;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 13px;
}
.testimonial{
    margin-top: 100px;
}
.tech_symbolsw img{
    margin-left: 2px;
    width:80px;
height: 60px;
margin-top: 2px;
}
.pic img{
    width: 90px;
    height: 97px;
}
.techjs{
    margin-top: 13px;
    margin-left: 17px;  
}
.mary{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}
.busi_text{
    font-size: 14px;
    line-height: 24px;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;

}
.test_class{
    width: 450px;
    height: 295px;
    background-color: white;
    padding-top: 36px;
    padding-left: 35px;
    margin-top: 25px;
}
.testimonial{
    background-color: aliceblue;
    width: 100vw;
    height: 64vw;
}
.test_left{
    padding-top: 40px;
    margin-left: 200px;
}

.right_pic img {
    width: 454px;
    height: 459px;
    margin-right:200px;
    margin-top: 87px;
    position: relative;
    z-index: 2;
    
}
.right_pic {
    display: flex;
    margin-left: -127px;
    margin-top: -80px;
}



.star_flex_image{
    font-size: 10px;
    margin-left: 3px;

}

.testimonial_flex{
    display: flex;
    margin-left: 45px;
}
.test_right_main{
    margin-top: 262px;
    margin-left: 204px;
}
.blog{
    text-align: center;
    color:#2d98da;
    padding-top:100px;
}
.blog::before {
    content: "--";
  }
  .blog::after {
    content: "--";
  }
.blue_happy{
    width: 167px;
    height: 94px;
    background-color: #2d98da;
    position: absolute;
    z-index: 3;
    margin-left: 140px;
    margin-top: 28px;
}
.happy_para1{
    margin-left: 26px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}
.happy_para2{
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
    padding-left: 24px;
    margin-top: -14px;

}
.news{
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}
.yellow_news img{
    background-color: #ffdd59;
    width: 150px;
    height: 300px;
    margin-left: 23px;
    margin-top: 40px;
}
.gray_card{
    width:300px;
    height: 300px;
   
    background-color: aliceblue;
    margin-top: 40px;
}
.gray_card:hover{
    border-right:4px solid #2d98da;

}
.archie {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding-top: 70px;
    font-family: 'Roboto', sans-serif;
}


.sept{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color:#2d98da; 
    padding:10px;
    font-family: 'Roboto', sans-serif;
}
.trade{
    text-align: center;
    font-size: 15px;
    
    color:black;
    padding:10px;
    font-family: 'Roboto', sans-serif;
}
.dash{
    text-align: center;
}
.read_more_flex{
    margin-left: 100px;
    display: flex;
    margin-top: 20px;
    color: #2d98da;
}
.right{
    margin-top: 2px;
}
.news_flex{
    display: flex;
}

.logo1{
    display: flex;
    color:white;
    margin-left: -23px;
}
.apple1 img{
width:50px;
height: 60px;
margin-left: 300px;
margin-top: 90px;
}
.footer_flex{
    background-color: #192a56;
    width: 100vw;
    height: 35vw;
    margin-top: 200px;
}
.soffets1{
    font-size: 25px;
    margin-left: 10px;
    margin-top: 100px;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
}
.best1{
    font-size: smaller;
    color: gray;
    margin-left: 10px;
    margin-left:30px;
    font-family: 'Roboto', sans-serif;
}
.phone_footer{
    display: flex;
    color: #ffdd59;
    margin-top: 20px;
    margin-left: -49px;
}


.footer_para{
    margin-top: 40px;
    margin-left: -38px;
    line-height: 28px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.icon_footer_flex{
   
    margin-top: 20px;
    margin-left: -32px;

}
#address1{
    height: 20px;
    width: 209px;
    border: 1px solid gray;
    border-radius: 200px;
    color: white;
    margin-left: -6px;
    margin-top: 16px;
    background-color:#182C61 ;
}
.it{
    display: flex;
    color: white;
    margin-top: 17px;
    font-size: 12px;
    
}
.footer_flex{
    display: flex;
    background-color:#182C61;
}
.phone{
    margin-left: 10px;
}
.sub{
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-top: 14px;
}
.services{
  color:white; 
  font-size: 18px; 
  margin-top: -42px;
  font-family: 'Roboto', sans-serif;
}
.middle_footer{
    margin-top: 143px;
    margin-left: 150px;
}
.symbol_right{
   margin-right: 20px; 
}
.photo_footer img{
    width:50px;
    height: 50px;

}
.upward_arrow{
    width:40px;
    height: 40px;
    background-color:#2d98da ;
    color: white;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 14px;
    position: absolute;
    z-index: 3;
    margin-top: -181px;
    margin-left: -145px;
}
.downward_arrow{
    width:40px;
    height: 40px;
    background-color:white ;
    color: black;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 14px;
    position: absolute;
    z-index: 3;
    margin-top: -121px;
    margin-left: -145px;
}
.t_footer {
    color: #2d98da;
    margin-left: 27px;
    margin-top: -2px;
    font-size: 12px;
}
.s_footer{
    color:white;
    margin-left: 27px;
    margin-top: 8px;
    line-height: 23px;
    
    }

    .it_footer {
        margin-top: 63px;
    }
    .news_footer_flex{
        display: flex;
        margin-top: 30px;
       
    }
    
    .latest_footer{
        color: white;
    margin-top: 5px;
    margin-left: 103px;
}
    
    .latest_footer1 {
        color: white;
        margin-top: 100px;
        margin-left: 4px;
    }
    .copyright_footer{
       
        background-color: #192a56;
        width:100vw;
        height: 60px;
    }
    .copyright{
        color: white;
        text-align: center;
        font-size: 10px;
        padding-bottom: 10px;
    }
    ::placeholder{
        color: white;
    }
    .reserved{
        padding-top: 25px;
        font-size: 12px;
    }
    .social_media{
        width: 20px;
        height: 20px;
        border: 1px solid gray;
        padding-right: 32px;
        padding-bottom: 27px;
        padding-top: 14px;
        padding-left: 18px;
        margin-left: 9px;
      
    }
    .icon_footer_flex{
        display: flex;
       
    margin-left: -45px;
    }
    .social_media:hover{
        color:#2d98da;
        border: 1px solid #2d98da;
    }
    .news_read{
        margin-top: 2px;
    font-size: 11px;
    margin-left: 10px;

}
    .right{
        margin-top: 4px;
    font-size: 10px;
    margin-left: 10px;
    }